.header-top p i {
    color: #18ba60;
}
.header-top .social-icons i:hover {
    color: #18ba60;
}
.middle-header-top .middle-info .logo:after {
    border-right: 10px solid #18ba60;
}
.middle-header-top .middle-info p {
    border-right: 1px solid #18ba60;
}
.middle-header-top .middle-info p i {
    color: #18ba60;
}
.heading {
    color: #18ba60;
    border-top: 1px solid #18ba60;
    border-bottom: 1px solid #18ba60;
}
.search-button,
.button-menu {
    color: #18ba60;
}
.search-button {
    color: #18ba60;
}
.get-quote {
    background: #18ba60;
}
#main-menu ul li a.active,
#main-menu ul li a:hover {
        background: #18ba60;
}
#main-menu .dropdown-menu a:hover {
    background: #18ba60;
}
.bloq-search input[type="text"] {
    border: 1px solid #18ba60;
}
.bloq-search input[type="submit"] {
    background: #18ba60;
}
#main-menu ul a:hover,
#main-menu ul li.active a {
    color: #18ba60;
}
.tp-leftarrow:hover {
    background: #18ba60;
}
.tp-rightarrow:hover {
    background: #18ba60;
}
.bg-1 {
    background: #18ba60;
}
.bg-2 .button {
    border-color: #18ba60;
}
.bg-3 .button {
    color: #18ba60;
    border-color: #18ba60;
}
.bg-3 .button:hover {
    border-color: #18ba60;
}
.button--wayra.button--inverted:hover {
    border-color: #18ba60;
}
.button--wayra:hover::before {
    background-color: #18ba60;
}
.button--wayra.button--inverted:hover::before {
    background-color: #18ba60;
}
.info-about .fa {
	color: #18ba60;
}
.info-about .fa:hover {
	background: #18ba60;
}
.info-about .cel-1 {
	background: #18ba60;
}
.info-about .cel-2 {
	background: #18ba60;
}
.info-about .cel-3 {
	background: #18ba60;
}
.info-about .cel-4 {
	background: #18ba60;
}
.choosing {
    background: #fff;
}
.choosing .why-do a:hover {
    color: #18ba60;
}
main.services-2 {
    background: #f9f9f9;
}
.hovblue figure {
    background: #18ba60;
}
.offer-details .btn.rdmorebtn:hover{background: #000;transition: all 0.4s ease-in-out 0s;}
.offer-inner{position:relative;overflow:hidden;margin-bottom: 00px;}
.offer-details {
	background-color: rgba(24, 186, 96, 0.9);
}
section.counterup {
	padding: 6rem 0;
	background: linear-gradient(rgba(32, 51, 100, 0.9), rgba(32, 51, 100, 0.9)), url(bg-counter.jpg) no-repeat center center;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
}
.counterup .title-icon:before {
    background: #18ba60;
}
.counterup .title-icon:after {
    background: #18ba60;
}
.counterup .title-style h2,
.counterup .title-style p {
	color: #18ba60;
}
.counterup .countr .fa {
	border: 4px solid #18ba60;
}
.counterup .countr p {
	color: #18ba60;
}
.counterup .title-style span {
    color: #fff;
}
.portfolio .filters-group ul li:hover {
    background: #18ba60;
}
.portfolio .filters-group .active {
    background: #18ba60;
}
.single-portfolio .img-poppu:hover:before,
.single-portfolio .img-poppu:hover:after {
    background: #18ba60;
}
.single-portfolio .portfolio-img::before {
    background: #18ba60 none repeat scroll 0 0;
}
.team-content {
	background: #18ba60;
}
.team-info {
	background: #18ba60;
}
.team-content span a:hover {
    color: #18ba60;
}
.request .btn {
    background: #18ba60;
}
.request .contact-form input[type="text"]:focus,
.request .contact-form input[type="email"]:focus,
.request .contact-form textarea:focus {
    border-color: #18ba60;
}
.request h3::after,
.report h2::after {
    background-color: #18ba60;
}
.call-info h3::after {
    background-color: #18ba60;
}
.testimonials .test-1 p::before {
    color: #18ba60;
}
.testimonials .test-1 p::after {
    color: #18ba60;
}
.testimonials .test-1 h3 {
    color: #18ba60;
}
.owl-dot.active {
    background: #18ba60;
}
.blog .blog-info {
    border-bottom: 3px solid #18ba60;
}
.blog-pots figure {
    background: #18ba60;
}
.blog .blog-pots .fa {
    color: #18ba60;
}
.btn-secondary {
    background: #18ba60;
}
.first-footer .netabout h3::after {
    background-color: #18ba60;
}
.first-footer .contactus h3::after {
    background-color: #18ba60;
}
.first-footer .widget h3::after {
    background-color: #18ba60;
}
.first-footer .newsletters h3::after {
    background-color: #18ba60;
}
.first-footer .email input[type="submit"]:hover {
    background: #18ba60;
}
.go-up {
    background: #18ba60;
}
div.partners {
    background: #18ba60;
}
.section-title .title-style h2 {
    color: #18ba60;
}
.title-icon:before {
    background: #18ba60;
}
.title-icon:after {
    background: #18ba60;
}
.title-icon i {
    color: #18ba60;
}
.team-content {
	background: #18ba60;
}
.team-info {
	background: #18ba60 !important;
}
.team-content span a:hover {
    color: #fff;
}
.serv-flex {
    color: #18ba60;
}
.who-we-are h2 {
    color: #18ba60;
}
.inf-row .who-info-4 .fa {
    color: #18ba60;
}
.sec-title-4 h2 {
    color: #18ba60;
}
.wprt-image-video .icon-wrap {
    background-color: #18ba60;
}
.heading-5 .search-button {
    color: #18ba60;
}
.heading-5 .bloq-search input[type="submit"] {
    background: #18ba60;
}
.heading-5 .get-quote {
    background: #18ba60;
}
.heading-5 #main-menu ul li a.active {
    background: #18ba60;
}
.heading-5 #main-menu ul li a:hover {
    background: #18ba60;
}
.counterup .title-style h2 {
	color: #18ba60 !important;
}
.heading-6 .search-button {
    color: #18ba60;
}
.heading-6 .bloq-search input[type="submit"] {
    background: #18ba60;
}
.heading-6 .get-quote {
    background: #18ba60;
}
.heading-6 #main-menu ul li a.active {
    background: #18ba60;
}
.heading-6 #main-menu ul li a:hover {
    background: #18ba60;
}
.headings h2,
.headings-6 h2 {
    color: #18ba60;
}
.partners .style2 img {
    background: #fff;
    width: 100px;
    border-radius: 10px;
}
.sec-title h2 {
    color: #18ba60 !important;
}